@font-face{
    font-family: "catmeow";
    src: url("./fonts/CatMeow-Regular.ttf") format("truetype")
}
@font-face{
    font-family: "KR";
    src: url("./fonts/KR\ Nick\'s\ Puppy\ 1.ttf") format("truetype")
}
@font-face{
    font-family: "puppybelly";
    src: url("./fonts/PuppyBellies.ttf") format("truetype")
}
:root{
    --font-family-primary:"catmeow", sans-serif;
    --font-family-secondary:"KR", sans-serif;
    --font-family-tertiary:"puppybelly", sans-serif;
    --font-family-regular:"Arial, Helvetica, sans-serif";
    --col-primary:#FECB00;/* used by canine companies*/
    --col-primary-linear-down:linear-gradient(#FECB00 25%,#FFFFFF);
    --col-primary-linear-up:linear-gradient(180deg,#FFFFFF 25%,#FECB00 75%);
    --col-tint:#000000;
    --col-shade:#FFFFFF;
    --col-secondary:#0077FF;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#header > #home-href {
    width:100%;
    height:100%;
    transform:translate(23px,10px);
    text-decoration:none;
}
#header > #home-href > h1{
    font-family: var(--font-family-tertiary);
    color:var(--col-tint);
    padding:1rem;

}
#hr-main{
    width:100%;
    background:var(--col-tint);
    bordeR:none;
    height:1.5px;
    top:120px;
    position:fixed;
    z-index:999;
    animation:grow-hr 1.5s forwards;
}
@keyframes grow-hr {
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
body{
    background-color:var(--col-shade);
    width:100%;
    height:100%;
}

/* header */
#header,#footer{
    min-height:120px;
    max-height:175px;
    width:100%;
    left:0;
    /* border:2px solid red; */
}

#header{
z-index: 996;
background-image:var(--col-primary-linear-down);
position:fixed;
top:0;

}
#footer{
background-image:var(--col-primary-linear-up);
}

/* paws */

.paw{
    transform:scale(.9);
    position:fixed;
    right:10px;
    top:10px;
    transform-origin: center;
    transform: translate(0,0) rotate(0);
    opacity: 0;
}
#dogpaw{
z-index:997;
animation: doganimate 2.5s forwards;
}
#catpaw{
z-index:998;
animation: catanimate 2.5s forwards;
}
@keyframes doganimate {
    
    from{
    transform: translate(0,0) rotate(0);
    }
    to{
    transform:translate(-50px,15px) rotate(-20deg);
        opacity: .6;
    }
    
}
@keyframes catanimate {
    
    from{
    transform: translate(0,0) rotate(0);
    }
    to{
    transform:translate(20px,-15px) rotate(20deg);
        opacity: .6;
    }

}


/* section */
#section-banner{
    margin-top:120px;
    width:100%;
    height:100%;
    /* border:2px solid red; */
    overflow:hidden;
    display:flex;
    flex-direction: row;
}
.col-container{
    border:2px solid green;
    width:100%;
}
.col-img{

}
.col-info{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top:1rem;
}
.col-info>p{
    font-family:var(--font-family-tertiary);
    /* font-size:var(--font-advertise); */
    font-size:50pt;
    text-align: center;
}
#cta.cta-first{
    height:40px;
    border-top:.5px solid var(--col-tint);
    width:100%;
    background:var(--col-secondary);
    color:var(--col-shade);
    text-align: center;
    font-family: var(--font-family-tertiary);
    letter-spacing:1.5px;
    text-transform: uppercase;
    font-size: 16pt;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .75s;
}
#cta.cta-first:hover{
    background:var(--col-shade);
    color:var(--col-secondary);
    transition: .25s;
    cursor:pointer;
    box-shadow: inset 0 -5px 9px .9px #333;
}
#banner-img{
    width:100%;
    height:100%;
}



@media screen and (max-width:900px) {
    .col-info>p{
        transform:translate(0,0);
    }
    #section-banner{
        flex-direction: column-reverse;
    }

}