@font-face{
    font-family: "catmeow";
    src: url("./fonts/CatMeow-Regular.ttf") format("truetype")
}
@font-face{
    font-family: "KR";
    src: url("./fonts/KR\ Nick\'s\ Puppy\ 1.ttf") format("truetype")
}
@font-face{
    font-family: "puppybelly";
    src: url("./fonts/PuppyBellies.ttf") format("truetype")
}
:root{
    --font-family-primary:"catmeow", sans-serif;
    --font-family-secondary:"KR", sans-serif;
    --font-family-tertiary:"puppybelly", sans-serif;
    --col-primary:#FECB00;/* used by canine companies*/
    --col-primary-linear-down:linear-gradient(#FECB00 25%,#FFFFFF);
    --col-primary-linear-up:linear-gradient(180deg,#FFFFFF 25%,#FECB00 75%);
    --col-tint:#000000;
    --col-shade:#FFFFFF;
    --col-secondary:#0077FF;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#header > #home-href {
    width:100%;
    height:100%;
    transform:translate(23px,10px);
    text-decoration:none;
}
#header > #home-href > h1{
    font-family: var(--font-family-tertiary);
    color:var(--col-tint);
    padding:1rem;

}
#hr-main{
    width:100%;
    background:var(--col-tint);
    bordeR:none;
    height:1.5px;
    top:120px;
    position:absolute;
    z-index:999;
    animation:grow-hr 1.5s forwards;
}
@keyframes grow-hr {
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
body{
    background-color:var(--col-shade);
    width:100%;
    height:100%;
}

/* header */
#header,#footer{
    min-height:120px;
    max-height:175px;
    width:100%;
    left:0;
    /* border:2px solid red; */
}

#header{
z-index: 996;
background-image:var(--col-primary-linear-down);
position:fixed;
top:0;

}
#footer{
background-image:var(--col-primary-linear-up);
position:absolute;
bottom:0;
}

/* paws */
.paw{
    transform:scale(.9);
    position:fixed;
    right:10px;
    top:10px;
    transform-origin: center;
    transform: translate(0,0) rotate(0);
    opacity: 0;
}
#dogpaw{
z-index:997;
animation: doganimate 2.5s forwards;
}
#catpaw{
z-index:998;
animation: catanimate 2.5s forwards;
}
@keyframes doganimate {
    
    from{
    transform: translate(0,0) rotate(0);
    }
    to{
    transform:translate(-50px,15px) rotate(-20deg);
        opacity: 1;
    }
    
}
@keyframes catanimate {
    
    from{
    transform: translate(0,0) rotate(0);
    }
    to{
    transform:translate(20px,-15px) rotate(20deg);
        opacity: 1;
    }

}